<hr class="solid"> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

<nav>
    <ul  class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="dropdown-item text-primary " ><a href="#">ACCUEUL</a></li>
        <li class="dropdown-item text-primary " ><a href="#">NEWS</a></li>
        <li class="dropdown-item text-primary " ><a href="#">RECIPE IDEAS</a></li>
        <li class="dropdown-item text-primary " ><a href="#">HEALTHY</a></li>
        <li class="dropdown-item text-primary " ><a href="#">SAISON</a></li>
        <li class="dropdown-item text-primary " ><a href="#">PARITES</a></li>
        <li class="dropdown-item text-primary " ><a href="#">NUTRITION</a></li>
        <li class="dropdown-item text-primary " ><a href="#">CONTACTS</a></li>
    </ul>
</nav>
<header style="margin-top: 10rem ;">
    <div class="slider">
        <div class="slides"> 
            <div class="slide">
                <a href="">  <img class="slider-img" src="../assets/recipes/recipe1_1.png" alt="" /> </a>
                <a href="">  <img class="slider-img" src="../assets/recipes/recipe2_1.png" alt="" /> </a>
                <a href="">  <img class="slider-img" src="../assets/recipes/recipe3_1.png" alt="" /> </a>
            </div>
            <input type="radio" name="ratio-btn" id="radio1">
            <input type="radio" name="ratio-btn" id="radio2">
            <input type="radio" name="ratio-btn" id="radio3">
        </div>
    </div>
</header>

<footer style=" width: 100% ;"> 
</footer>